* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div {
  text-align: center;
}

h4 {
  text-align: left;
  margin: 0px 30px; 
  padding-top: 30px;
}

.container {
  width: 75%;
  margin: 0px auto;
}

.border-top {
  border: 1px solid lightgrey; 
}

.listButton {
  width: 250px;
  height: 125px;
  background-color: white;
  border: 2px dotted lightgrey;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}

.clearfix {
  padding: 20px 30px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.checkbox-container {
  text-align: left;
  padding: 10px 30px;
}

input[type='checkbox'] {
  margin-left: 10px;
  vertical-align: middle;
}

.footer {
  text-align: left;
  background-color: rgb(230, 230, 230);
}

.header {
  margin-top: 50px;
}

div.footer p {
  width: 40%;
  float: left;
  color: grey;
}

.hidden {
  display: none;
}

.highlighted {
  background-color:rgb(255, 223, 153);
}

.muted {
  background-color:lightgrey;
}

.brownText {
  color: rgb(153, 77, 0);
}

.bigText {
  font-size: 1.5em;
}

.button-round-yellow {
  border-radius: 25px;
  background-color: rgb(255, 210, 77);
  box-shadow: 0px 2px lightgrey;
  color: grey;

  margin: 20px 30px;
  padding: 10px 20px;
  display: block;
  clear: both;
}